@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: "Poppins", sans-serif;
}
.css1 {
  width: 48px;
  height: 48px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: .4s;
}
.css1:hover {
  background-color: #333;
  color: #fff;
}